<div class="container-fluid app-container">
    <div class="d-flex flex-column align-content-center justify-content-center header">
        <div class="d-flex flex-column align-content-center header-icon"><i class="fas fa-credit-card mx-auto d-block"></i></div>
        <div class="header-label">
            <h2 class="display-4 text-center">Txn Insight</h2>
            <h6 class="text-center">A better way to look at square transaction data.</h6>
        </div>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>
